body
{
    padding:10px;
    margin:40px;
    font-size: 24px;
    font-family: algerian;
    background-image:url(https://4.bp.blogspot.com/-YIU0e5H926s/W8UXL0B9oJI/AAAAAAAAnW8/7EfSosr3yzQIczT7aQWCTk055t7yl2XXACLcBGAs/s1600/Universo%2B%252814%2529.jpg);
    background-repeat:no-repeat ;
    color: white;
}

nav
{
    padding: 0px;
    color : white;
}